#box1 {
  width: 530px;
  height: 625px;
  background-image: url("../images/one.png");
  position: absolute;
  bottom: -100%;
  left: 30%;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1:after {
  content: " ";
  position: absolute;

  width: 530px;
  height: 625px;
  background-image: url("../images/two.png");
  left: 0px;
  z-index: -1;
}

@media (max-width: 1040px) {
  #box1:after {
    background-size: cover;
    width: 500px;
    height: 600px;
  }
  #box1 {
    background-size: cover;
    width: 500px;
    height: 600px;
  }
}
@media (max-width: 668px) {
  #box1:after {
    background-size: cover;
    width: 300px;
    height: 350px;
  }
  #box1 {
    background-size: cover;
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 400px) {
  #box1:after {
    background-size: cover;
    width: 200px;
    height: 250px;
  }
  #box1 {
    /* background-size: cover; */
    width: 200px;
    height: 250px;
  }
}

@keyframes anim {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0px;
  }
}

@keyframes anim2 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    left: 50%;
    width: 0px;
  }
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
