body {
  /* background: url("./images/coffee-apple.jpg") no-repeat center center fixed; */
  background-color: #1e242a;

  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
